{% extends "layout.html" %}
{% block style %}
<title>Parameters</title>
{% endblock style %} {% block content %}

<div class="container-fluid toppadding">
  {% if not data %}
  <div mt-3>
    <p>No files uploaded</p>
    <a class="btn btn-dark" role="button" href="{{url_for('upload_file')}}">Upload files here</a>
  </div>
  {% else %}
  <h4><u>Manual</u></h4>
  <form method="post" action="/input" id="parameterfill">
    {% for datatype,name in zipt %}
    {% if datatype %}
    <h5>{{ name }}</h5>
    <div class="row">
      {% for item in datatype %}
      <div class="form-group col-md-4">
        <label for="{{ item.id }}">{{ item.name }} ({{ item.id}}):</label>
        <br />
        <input class="form-control" type="text" name="{{ item.id }}" id="{{ item.id }}" {% if item.value !=None %}
          value="{{ item.value }}" {% endif %} />
      </div>
      {% endfor %}
    </div>
    {% endif %}
    {% endfor %}
  </form>
  <button form="parameterfill" class="btn btn-dark my-2" type="submit">Submit Values</button>

  <h4><u>Additional database</u></h4>
  <form method="post" enctype="multipart/form-data" id="addjson">
    <input class="btn btn-light mb-3" type="file" name="addjson" id="addjson" />
  </form>
  <button form="addjson" class="btn btn-dark my-2" type="submit">Submit Values</button>

  {% endif %}
</div>
{% endblock content %}